* {
    margin: 0;
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}

.hero-container {
    max-width: 70%;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    margin-bottom: 50px;
}

.header-logo img{
    width: 80px;
    height: auto;
    border-radius: 40px;
}

.hero-content{
    display: flex;
    padding: 16px;
    margin-bottom: 100px;
    gap: 42px;
}

.hero-text {
    color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hero-image img{
    width: 500px;
    height: auto;
}

.hero-sign-up button{
    font-weight: 700;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 6px;
    border: 0;
    padding: 8px 32px;
}

.content {
    flex: 1;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slideshow-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 16px;
    margin-top: 32px;
    margin-bottom: 256px;
}

.slideshow {
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    width: 128px;
    height: 128px;
    border: 5px solid #3882f6;
    border-radius: 20px;
    margin: 8px;
}

.quote-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin-bottom: 256px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    align-self: flex-start;
    padding: 8px;
}

.name {
    font-size: 24px;
    font-weight: 700;
    align-self: flex-end;
    padding: 8px;
}

.footer {
    color: #e5e7eb;
    background-color: #1f2937;
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

h2 {
    font-size: 36px;
    text-align: center;
}

ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 16px
}

a {
    text-decoration: none;
    color: #e5e7eb;
}
