body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.hero {
    background-color: #1f2937;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.header-logo img{
    width: 80px;
    height: auto;
    border-radius: 40px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
    color: #f9faf8;
}