* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}

.hero-container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    margin-bottom: 60px;
}

.header-logo img{
    width: 80px;
    height: auto;
    border-radius: 40px;
}

.hero-content{
    display: flex;
    padding: 16px;
    margin-bottom: 100px;
    gap: 32px;
    justify-content: space-between;
}

.hero-text {
    font-size: 18px;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
}

.hero-image img{
    width: 500px;
    height: auto;
}

.hero-sign-up button{
    font-size: 18px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 6px;
    border: 0;
    padding: 4px 24px;
    
}

h1 {
    font-size: 54px;
    font-weight: 900;
}

ul {
    font-size: 18px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 16px
}

a {
    text-decoration: none;
    color: #f9faf8;
}
